.screen-header__icon-column {
    position: relative;
}
.screen-header__span    {
    position: absolute;
    left: 5px;
    bottom: 20px;
}
.recommended-friends    {
    border-top: 1px solid var(--default-gray-color);
    border-bottom: 1px solid var(--default-gray-color);
    padding: 25px 0px;
    margin: 10px 0px;
}
.recommended-friends__title {
    font-size: 16px;
    color: rgba(0,0,0,0.5);
}
.recommended-friends__span {
    display: block;
    text-align: center;
    padding: 110px 0px;
    font-size: 18px;
    color: rgba(0,0,0,0.5);
}
.open-chat__header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0px;
}
.open-chat__header h4   {
    font-size: 16px;
    color: rgba(0,0,0,0.5)
}
.open-chat__header h5    {
    font-size: 16px;
    color: rgba(0,0,0,0.3)
}
.open-chat__content {
    border-bottom: 1px solid var(--default-gray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.open-chat__content-text    {
    padding: 0px 0px;
}
.open-chat__content-text h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 8px 0px;
}
.open-chat__content-text h4 {
    margin: 8px 0px 9px 0px;
}
.open-chat__content-text div    {
    display: flex;
}
.open-chat__content-text img{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: 5px;
}
.divider    {
    background-color: black;
    width: 1px;
    height: 16px;
    margin: 0px 5px;
}
.open-chat__content-text-state  {
    color: #ffb0e0
}
.open-chat__content-img {
    display: flex;
    position: relative
}
.open-chat__content-img img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    
}
.open-chat__content-img span    {
    background-color: rgba(0,0,0,0.5);
    color: whitesmoke;
    border-radius: 12px;
    padding: 5px;
    font-size: 14px;
    position: absolute;
    right: 7px;
    bottom: 7px;
}
@keyframes heartbeatAnimation {
    0% {
        transform: none;
    }
    50% {
        color: red;
        transform: scale(200%)
    }
    100% {
        transform: none;
    }
}
.open-chat__heart:hover i {
    will-change: transform;
    animation: heartbeatAnimation 1s ease-in-out infinite;
}