.friend-info__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    background-color: #fafafa;
    margin-bottom: 10px;
}
.friend-info__link i {
    margin: 0px 8px;
    opacity: 0.3;
}
.friend-info__link {
    font-weight: 600;
}
.friends-screen {
    padding: 0px var(--horizontal-space);
}
.user-component__avatar--sm {
    width: 60px;
    height: 60px;
    border-radius: 37%;
}