.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px var(--horizontal-space)
}
.screen-header__title {
    font-size: 26px;
    font-weight: 600;
}
.screen-header__icon span{
    margin-left: 18px;
}
@keyframes gearAnimation {
    from {
        transform: none;
        
    }
    to {
        transform: rotateZ(360deg);
    }
}
.screen-header__icon .fa-gear:hover {
    animation: gearAnimation 1.5s linear infinite;
}
